<div style="text-align:center">
  <h1>
    Posts Blog
  </h1>
</div>

<form>
  <div class="form-group container">
    <label for="exampleFormControlTextarea1">Add new post</label>
    <textarea class="form-control" [(ngModel)]="text" id="exampleFormControlTextarea1" name="posts" rows="2"></textarea>
    <button type="button" (click)="submitPost()" class="btn btn-primary">Add Post</button>
  </div>

  <div class="container">
    <h4>All Posts</h4>
    <div *ngFor="let loop of postsArray" class="card text-white bg-secondary mb-3" style="max-width: 58rem;">
      <div class="card-body">
        <p class="card-text">{{ loop?.post_content }}</p>
      </div>
      <button type="button" (click)="upvote(loop?._id)" class="btn btn-success btn-sm">Click to upvote &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; count: &nbsp; <strong> {{loop?.upvote_count}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; created on: {{loop?.created_on | date:'medium'}} </button>
    </div>

  </div>

</form>

<router-outlet></router-outlet>